@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Kodchasan:wght@200..700&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@theme {
  /* Gradient backgrounds */
  --bg-linear-1: linear-gradient(to right, #95BEFF, #0040E5);
  --bg-linear-2: linear-gradient(to right, #5697FF, #2558DD);

  /* Shadows */
  --shadow-shadow1: 2px 2px 12px 0px rgba(0, 0, 0, 0.08);
  --shadow-shadow2: 2px 2px 12px 0px rgba(64, 50, 133, 0.12);
  /* Font */
  --font-inter: "Inter", sans-serif;
  --font-kodchasan: "Kodchasan", sans-serif;

  /* Blue */
  --color-blue-100: #E5ECF8;
  --color-blue-200: #C6D6EF;
  --color-blue-300: #8DADE0;
  --color-blue-400: #5483D0;
  --color-blue-500: #2F5FAC;
  --color-blue-600: #234781;
  --color-blue-700: #183056;
  --color-blue-800: #0C182B;
  --color-blue-900: #020D1E;

  /* Gray */
  --color-gray-100: #F6F7FC;
  --color-gray-200: #F1F2F6;
  --color-gray-300: #E4E6ED;
  --color-gray-400: #D6D9E4;
  --color-gray-500: #C8CCDB;
  --color-gray-600: #9AA1B9;
  --color-gray-700: #646D89;
  --color-gray-800: #424C6B;
  --color-gray-900: #2A2E3F;

  /* Orange */
  --color-orange-100: #FBAA1C;
  --color-orange-500: #F47E20;

  /* Other */
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-green: #2FAC8E;

  /* Radius */
  --radius-sm: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;


  /* Headline */
  --text-headline1: 66px;
  --leading-headline1: 83px;
  --font-weight-headline1: 500;

  --text-headline2: 36px;
  --leading-headline2: 45px;
  --font-weight-headline2: 500;

  --text-headline3: 24px;
  --leading-headline3: 30px;
  --font-weight-headline3: 500;

  /* Body */
  --text-body1: 20px;
  --leading-body1: 30px;
  --font-weight-body1: 400;

  --text-body2: 16px;
  --leading-body2: 24px;
  --font-weight-body2: 400;

  --text-body3: 14px;
  --leading-body3: 21px;
  --font-weight-body3: 400;

  --text-body4: 12px;
  --leading-body4: 18px;
  --font-weight-body4: 400;
}

/* Light theme */
:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-[--background] text-[--foreground] font-[--font-inter];
  }
}